.title{
    width: 1050px;
    height: 544px;
    display: flex;
    margin-top: 100px;
    padding: 0 50px;
}

.title-box{
    width: 510px;
    height: 544px;
    gap: 30px;
}
.title h1{
    width: 400px;
    height: 222px;
    font-size: 67px;
    color: #ffff;
}

.title p{
    width: 400px;
    height: 105px;
    font-size: 22px;
    color: #ffff;
}

.title-btn{
    width: 224px;
    height: 60px;
    border-radius: 20px;
    background-color: #A259FF;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-numbers{
    width: 40%;
    // height: 77px;
    display: flex;
    color: #ffff;

}

.title-img{
    width: 510px;
    height: 109px;
    border-radius: 0px 0px 20px 20px;
}

.title-piese{
    width: 510px;
    height: 109px;
    border-radius: 0px 0px 20px 20px;
    background-color: #3B3B3B;
    color: #ffff;
}
